<p style="color: green"><%= notice %></p>

<h1>Ofertas de Trabajo</h1>




<div class="card text-bg-success mb-3">
  <div class="card-body">
  <div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
    <p>
      <%= link_to "Show this job", job %>
    </p>
  <% end %>
</div>
  </div>
</div>






