<p style="color: green"><%= notice %></p>

<%= render @job %>




<div>
  <% if user_signed_in? %>
    <%= button_to "Postular", postulate_job_path(@job), method: :post %>
  <% end %>


  <%= link_to "Back to jobs", jobs_path %>


</div>
